// Define variables for your color scheme

// For example:
$red: #EC1435;
$blue: #203658;
$light-blue: #26495A;
$yellow: #DCD230;
$purple: #392F7C;
$green: #76856f;
$ligth-green: #90B97F;
$gray: #2f2f2f;
$light-gray: #959595;
$black: #1d1b1e;
$white: #efeae9;
$brown: #6A615B;
$orange: #F07C59;
