<div class="container">
  <div class="row mt-5">
    <div class="col-xs-12 col-sm-6">
      <h1>List of Cocktails</h1>



      <ul class="list-group">
        <% @cocktails.each do |cocktail| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= link_to cocktail.name, cocktail_path(cocktail)  %>

          <!-- <span class="badge badge-primary badge-pill"> -->
          <span class="btn btn-primary rounded" >
            <%= link_to " - Delete", cocktail_path(cocktail), method: :delete %>
          </span>

        </li>
        <% end %>
      </ul>

      <br/>
      <%= link_to "Add cocktail", new_cocktail_path, class: "btn btn-primary btn-lg", id: "adding" %>
    </div>
  </div>
</div>
