<div class="container">
  <div class="row mt-5">
    <div class="col-xs-12 col-sm-6">
      <h1>List of Cocktails</h1>

      <ul>
        <% @cocktails.each do |cocktail| %>
        <li>
          <%= link_to cocktail.name, cocktail_path(cocktail)  %>
        </li>
        <% end %>
      </ul>
      <br/>
      <%= simple_form_for new_cocktail_path do |f| %>
      <%= f.input :name, label: false, placeholder: "Name of cocktail" %>
      <%= f.submit "Add cocktail", class: "btn btn-primary" %>
      <% end %>

    </div>

  </div>

</div>
